@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import './mixins';
:root {
  --color-primary-dark: #004084;
  --color-primary: #017bff;
  --color-primary-light: #cce5fe;
  --color-primary-red: #fecccc;
  --color-primary-green: #d6fecc;

  --color-grey-light-1: hsl(0, 0%, 97%);
  --color-grey-light-2: hsl(0, 0%, 95%);
  --color-grey-light-3: hsl(0, 0%, 93%);
  --color-grey-light-4: hsl(0, 0%, 87%);
  --color-grey-light-5: hsl(0, 0%, 82%);

  --color-grey-dark-1: #999;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #555;
  --color-grey-dark-4: #333;

  --color-white: #fff;
  --color-white-01: rgba(255, 255, 255, 0.1);
  --color-white-02: rgba(255, 255, 255, 0.2);
  --color-white-03: rgba(255, 255, 255, 0.3);
  --color-white-04: rgba(255, 255, 255, 0.4);
  --color-white-05: rgba(255, 255, 255, 0.5);
  --color-white-06: rgba(255, 255, 255, 0.6);
  --color-white-07: rgba(255, 255, 255, 0.7);
  --color-white-08: rgba(255, 255, 255, 0.8);
  --color-white-09: rgba(255, 255, 255, 0.9);

  --color-black: #000;
  --color-black-01: rgba(0, 0, 0, 0.1);
  --color-black-015: rgba(0, 0, 0, 0.15);
  --color-black-02: rgba(0, 0, 0, 0.2);
  --color-black-03: rgba(0, 0, 0, 0.3);
  --color-black-04: rgba(0, 0, 0, 0.4);
  --color-black-05: rgba(0, 0, 0, 0.5);
  --color-black-06: rgba(0, 0, 0, 0.6);
  --color-black-07: rgba(0, 0, 0, 0.7);
  --color-black-08: rgba(0, 0, 0, 0.8);
  --color-black-09: rgba(0, 0, 0, 0.9);

  // Font
  --default-font-size: 1.6rem;

  // Borders
  --border-light-1: 0.1rem solid var(--color-grey-light-1);
  --border-light-2: 0.1rem solid var(--color-grey-light-2);
  --border-light-3: 0.1rem solid var(--color-grey-light-3);
  --border-light-4: 0.1rem solid var(--color-grey-light-4);

  --border-dark-1: 0.1rem solid var(--color-grey-dark-1);
  --border-dark-2: 0.1rem solid var(--color-grey-dark-2);
  --border-dark-3: 0.1rem solid var(--color-grey-dark-3);
  --border-dark-4: 0.1rem solid var(--color-grey-dark-4);

  // Shadows
  --shadow-1: 0 0.5rem 1rem var(--color-black-01);
  --shadow-2: 0 0.75rem 1rem var(--color-black-015);
  --shadow-3: 0 1rem 1.5rem var(--color-black-02);
  --shadow-4: 0 1rem 2rem var(--color-black-02);
  --shadow-5: 0 2rem 3rem var(--color-black-03);
  --shadow-6: 0 2rem 3.5rem var(--color-black-03);
  --shadow-7: 0 3rem 4rem var(--color-black-03);

  //--- TRANSITIONS ---//
  --trans-dur-primary: 0.2s;

  //--- UNITS ---//
  --unit-huge: 12rem;
  --unit-big: 8rem;
  --unit-medium: 5rem;
  --unit-small: 3rem;
  --unit-smaller: 2rem;
  --unit-tiny: 1rem;
  --unit-tinier: 0.5rem;
}

html {
  font-size: 62.5%; // 1 rem = 10px
  scroll-behavior: smooth;

  @include responsive(max600px) {
    font-size: 52.5%;
  }

  @include responsive(max500px) {
    font-size: 47.5%;
  }

  @include responsive(max400px) {
    font-size: 37.5%;
  }
}

body {
  box-sizing: border-box;
  font-family: Rubik, sans-serif;
  color: var(--color-grey-dark-4);
  background-color: var(--color-grey-light-2);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow-x: hidden;
}

* input,
* button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  outline: none;
}

* a {
  text-decoration: none;
  color: inherit;
}

* img {
  display: block;
}

.text-1 {
  font-size: 5rem;
}

.text-2 {
  font-size: 4rem;
}

.text-3 {
  font-size: 3rem;
}

.text-4 {
  font-size: 2.2rem;
}

.app {
  padding: 2rem;
  overflow: hidden;
  text-align: center;
  display: grid;
  grid-gap: 5rem;
  justify-content: center;
  align-content: center;
}

.hidden {
  opacity: 0;
  display: none;
  visibility: hidden;
}

.starter-container {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.starter {
  background-color: var(--color-white);
  box-shadow: var(--shadow-4);
  padding: 5rem 7.5rem;
  border-radius: var(--unit-tiny);
  display: grid;
  grid-gap: 4rem;
  margin: 2rem;
  text-align: center;
}

.btn {
  font-weight: 500;
  transition: all var(--trans-dur-primary);

  &--start-game {
    color: inherit;
    padding: 2rem 4rem;
    font-size: 2.5rem;
    width: 100%;
    background-color: var(--color-primary-light);
    border: 0.1rem solid var(--color-primary);
    border-radius: var(--unit-tiny);
    box-shadow: var(--shadow-1);

    &:hover {
      filter: brightness(95%);
    }
  }

  &--main {
    color: var(--color-white);
    background-color: var(--color-grey-dark-2);
    border-radius: var(--unit-tinier);
    padding: 1rem 2rem;
    box-shadow: var(--shadow-2);

    &:hover {
      background-color: var(--color-grey-dark-1);
    }
  }
}

.main {
  background-color: var(--color-white);
  box-shadow: var(--shadow-3);
  padding: 2rem;
  border-radius: var(--unit-tiny);
  text-align: center;
  display: grid;
  grid-gap: 3rem;
  justify-content: center;

  &--bottom {
    overflow: visible;
    display: flex;
    justify-content: space-around;
  }
}

.timer {
  align-self: center;
}

.fields-container {
  width: 36rem;
  height: 36rem;
  display: grid;
  grid-template-columns: repeat(3, min-content);
  overflow: hidden;
}

.field {
  height: 12rem;
  width: 12rem;
  border: 0.3rem solid var(--color-primary);
  font-size: 7.5rem;
  font-weight: 400;
  color: var(--color-primary);
  transition: var(--trans-dur-primary);
  position: relative;
  overflow: visible;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--color-primary-light);
  }
}

.win {
  &::after {
    content: '';
    z-index: 10;
    background-color: var(--color-grey-dark-4);
    height: 0.5rem;
    width: 150%;
    position: absolute;
  }

  &--horizontal {
    transform: rotate(0deg);
  }

  &--vertical::after {
    transform: rotate(90deg);
  }

  &--top-left-right-bottom::after {
    transform: rotate(45deg);
  }

  &--top-left-left-bottom::after {
    transform: rotate(-45deg);
  }
}

.field--filled:hover {
  background-color: var(--color-primary-red);
}

.remove-right {
  border-right: none;
}

.remove-top-bottom {
  border-top: none;
  border-bottom: none;
}

.footer {
  text-align: center;
  display: grid;
  grid-gap: 1.5rem;
  overflow: visible;

  & * {
    overflow: visible;
  }
}

.text-grey {
  background-color: var(--color-grey-dark-2);
  color: var(--color-white);
  border-radius: var(--unit-tinier);
  padding: 0.25rem 1rem;
}
